In [2]:
import pandas as pd

In [4]:
df_data = pd.read_csv('input_data.csv')

df_data.shape

(24, 8)

In [4]:
df_data.head()

,CustomerID,Month,ACR,#OfProductsUsing,Usage(Units),Firmographic Area,Segment,PageView_Count
0,d66c4366-7e61-45b5-8642-e0d549c2d1ce,20250101,117943,49,2407,Germany,Strategic Commercial,49
1,d66c4366-7e61-45b5-8642-e0d549c2d1ce,20250201,96816,46,2017,Germany,Strategic Commercial,31
2,d66c4366-7e61-45b5-8642-e0d549c2d1ce,20250301,84870,47,1886,Germany,Strategic Commercial,2
3,d66c4366-7e61-45b5-8642-e0d549c2d1ce,20250401,76266,46,2007,Germany,Strategic Commercial,50
4,d66c4366-7e61-45b5-8642-e0d549c2d1ce,20250501,114560,45,2864,Germany,Strategic Commercial,44

In [5]:
df_data.dtypes

CustomerID           object
Month                 int64
ACR                   int64
#OfProductsUsing      int64
Usage(Units)          int64
Firmographic Area    object
Segment              object
PageView_Count        int64
dtype: object

In [ ]:
#1. Write python and sql code for finding the month for each customer having highest ACR.


#Step1 :  within each customer , find the month having max ACR


max_acr_month = df_data.groupby(['CustomerID','Month']).agg({'ACR':'max'}).reset_index().sort_values(ascending=False, by='ACR')

top_month = max_acr_month.groupby(['CustomerID']).agg({'ACR':'first', 'Month':'first'})

# With max_acr_ctr as (
#     SELECT  CustomerId, month, ACR, rank_over () partition over( CustomerID  ORDER BY ACR DESC) as row_number
# FROM df_data
# )
# SELECT CustomerId, month, ACR
# FROM max_acr_ctr
# WHERE row_number == 1

# SELECT CustomerId, month, rank_over () partition over( CustomerID  ORDER BY ACR DESC) as row_number
# FROM df_data
# WHERE row_number == 1

In [24]:
top_month

                                         ACR     Month
CustomerID
0de62945-c4f6-4b8b-9431-7f7f08ae590e   28449  20250701
d66c4366-7e61-45b5-8642-e0d549c2d1ce  117943  20250101

In [5]:
# 2. Write python and sql code for creating a feature table out of the data given at customer level.
# For numerical columns, create sum(ACR), max(#OfProducts), sum(Usage), sum(PageView).
# Encode the Categorical column.

## customerId, sum(ACR) as SUm_ACR, 


df_feature_customer = df_data.groupby(['CustomerID']).agg({'ACR':'sum','#OfProductsUsing':'max',
                                                           'Usage(Units)':'sum', 'PageView_Count':'sum','Firmographic Area':'first','Segment':'first'
                                                           }).reset_index()




# df_feature_customer_

In [12]:
df_feature_customer

,CustomerID,ACR,#OfProductsUsing,Usage(Units),PageView_Count,Firmographic Area,Segment
0,0de62945-c4f6-4b8b-9431-7f7f08ae590e,228370,30,8992,300,UK,"Small, Medium & Corporate Com"
1,d66c4366-7e61-45b5-8642-e0d549c2d1ce,982490,50,23331,406,Germany,Strategic Commercial

In [6]:

df_data['Firmographic Area'].nunique()
## < 10 category
df_feature_firmographarea = pd.get_dummies(df_feature_customer['Firmographic Area'])
df_feature_segment = pd.get_dummies(df_feature_customer['Segment'])

In [7]:
# df_feature_customer.merg

df_feature_customer_features = pd.concat([df_feature_customer,df_feature_firmographarea],axis=1)
df_feature_customer_features = pd.concat([df_feature_customer_features,df_feature_segment],axis=1)

In [8]:
df_feature_customer_features= df_feature_customer_features.drop(['Firmographic Area','Segment'],axis=1)

In [9]:
df_feature_customer_features

,CustomerID,ACR,#OfProductsUsing,Usage(Units),PageView_Count,Germany,UK,"Small, Medium & Corporate Com",Strategic Commercial
0,0de62945-c4f6-4b8b-9431-7f7f08ae590e,228370,30,8992,300,False,True,True,False
1,d66c4366-7e61-45b5-8642-e0d549c2d1ce,982490,50,23331,406,True,False,False,True

In [11]:
# 3. Given the actual commitment of the customer now, develop an ML model(Regression Model), evaluate the model performance.

import pandas as pd
df_actual_commitment = pd.read_csv('actual_commitment.csv')

In [16]:
df_actual_commitment.head()

df_actual_commitment.dtypes

CustomerID               object
MACC Commitment Value     int64
dtype: object

In [ ]:
df_feature_customers_withcommitmentvalues = df_feature_customer_features.merge(df_actual_commitment, on='CustomerID', how='left')

df_feature_customers_withcommitmentvalues

,CustomerID,ACR,#OfProductsUsing,Usage(Units),PageView_Count,Germany,UK,"Small, Medium & Corporate Com",Strategic Commercial,MACC Commitment Value
0,0de62945-c4f6-4b8b-9431-7f7f08ae590e,228370,30,8992,300,False,True,True,False,250000
1,d66c4366-7e61-45b5-8642-e0d549c2d1ce,982490,50,23331,406,True,False,False,True,500000

In [ ]:
# from sklearn import 

### first convert this cat varibale into 0,1
### target varibale y , X  (reemove customerId from X)



X_train,y_train,X_test,y_test = train_test_split(X,y , split= 0.5, random_state = 42)

In [ ]:
### Linear Regression
### RandomForrestRegression , treebasedregresson


## lr = 0.01 
### mse 
# import LinearRegression

In [ ]:
## R^2

In [ ]:
# Classification
## accurary ,
## precision -> positive class to clasificed prevents false positive
## recall -> false negative to be more , if someone has disease and we want to prevent false negative
## f1 score

## ROC -> precision, recall
##

In [ ]:
### imbalance in region how to make sure

### SMOTE : 

### stratfied sampling

In [ ]:
## undersampling : conversion is 1